@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: lora;
  src: url(/assets/fonts/Merriweather-Regular.ttf);
}
.body-main {
  background-color: #f8f6f6;
}

.list {
  list-style: none;
  padding: 0;
}

.nav__info {
  text-decoration: none;
  display: inline;
  color: #000;
  font-size: 20px;
}

@media (min-width: 1024px) {
  .list {
    padding-top: 20px;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 60px 50px 1fr;
    column-gap: 50px;
    justify-content: flex-start;
  }
}
header {
  display: grid;
  height: 200px;
  align-items: center;
}

.times-h1 {
  font-family: lora, sans-serif;
}

.h1-1 {
  display: flex;
  justify-content: center;
}

.h1-2 {
  display: flex;
  justify-content: center;
}

.times-parrafo {
  font-family: lora, sans-serif;
  display: flex;
  justify-content: center;
}

.parrafo-header {
  font-size: 20px;
}

.section-corporativos {
  background-color: black;
  color: white;
}

.div-corporativo-img {
  display: flex;
  justify-content: center;
}

.foto-corporativo {
  width: 300px;
}

.section-fiesta {
  display: flex;
  flex-direction: column-reverse;
}

.foto-fiesta {
  width: 300px;
  mask-image: linear-gradient(white 80%, transparent);
}

.div-fiesta-img {
  display: flex;
  justify-content: center;
}

.pack {
  display: flex;
  justify-content: center;
}

.div-pack {
  width: 100%;
}

.h2-pack {
  background-color: black;
  display: flex;
  justify-content: center;
  color: white;
  width: 100%;
}

.pack-times {
  display: grid;
  height: 450px;
  width: 100%;
  justify-content: center;
}

.pack-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;
}
.pack-list li {
  list-style: none;
}

.pack-list:hover > :not(:hover) {
  opacity: 0.4;
}

.item-1, .item-2, .item-3, .item-4 {
  background-color: #000;
  border-radius: 5%;
  display: grid;
  width: 150px;
  height: 150px;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  transition: opacity 0.6s ease;
}

.pack-box {
  transition: opacity 0.6s ease;
}

.titulo-pack {
  color: pink;
  font-family: lora, sans-serif;
}

@media (min-width: 1024px) {
  .section-corporativos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .div-corporativo-img {
    display: flex;
    justify-content: flex-start;
  }
  .foto-corporativo {
    height: 700px;
    width: 500px;
  }
  .div-corporativo-parrafo {
    font-size: 20px;
  }
  .section-fiesta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
  }
  .div-fiesta-img {
    display: flex;
    justify-content: flex-end;
  }
  .foto-fiesta {
    height: 700px;
    width: 500px;
  }
  .div-fiesta-parafo {
    display: flex;
    align-items: center;
    font-size: 20px;
  }
  .pack-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: none;
    justify-content: center;
  }
  .item-1, .item-2, .item-3, .item-4 {
    background-color: #000;
    border-radius: 5%;
    display: grid;
    width: 250px;
    height: 250px;
    align-items: center;
    justify-content: center;
  }
  .pack {
    display: flex;
    justify-content: center;
    height: 450px;
  }
  .titulo-pack {
    width: 100%;
  }
  .parrafo-packs {
    font-size: 18px;
  }
  .parrafo {
    width: 100%;
    font-size: 18px;
  }
}
.at-home {
  background-color: #000;
  color: #fff;
}

.list-pack {
  list-style: none;
}

.list-pack li::before {
  content: "▫️";
}

.h1-pack {
  display: flex;
  justify-content: center;
  color: pink;
  text-decoration: underline;
  font-family: lora, sans-serif;
}

.footer {
  width: 100%;
  background-color: #3c3c3c;
  display: grid;
  justify-content: center;
}
.footer .footer-list {
  color: #fff;
}
.footer .footer-list a {
  color: #fff;
  text-decoration: none;
}
.footer .footer-list a .logo-instagram {
  width: 15px;
  height: 15px;
}
.footer .footer-list a .logo-twitter {
  width: 25px;
  height: 25px;
}

@media (min-width: 1024px) {
  .footer {
    width: 100%;
  }
  .footer-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 100px;
  }
}

/*# sourceMappingURL=main.css.map */
