*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@media (min-width:320px) { 
    video{
        width: 100vh;
        height: 100vh;
}
nav ul {
    list-style: none;
}
nav ul li {
    display: inline;
}
nav a{
    text-decoration: none;
    color: black;
}
h1 {
    width: 100vh;
}
.navegador{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: #dcdcdc;
    height: 70px;
    width: 100vh;
    align-items: center;
    font-size: 20px;
}
div ul li {
    display: inline;
}
.pack-times{
    display: grid;
    height: 600px;
    width: 100vh;
    justify-content: center;
} 
.pack-list{
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 300px 300px;
    column-gap: 30px;
    row-gap: 30px;
}
.item-1, .item-2, .item-3, .item-4 {
background-color: black;
border-radius: 5%;
display: grid;
width: 250px;
height: 250px;
align-items: center;
justify-content: center;
}
.pack-letra{
    color: white;
    text-decoration: none;
}
.parrafo{
    width: 100vh;
}
.footer{
    width: 100vh;
    background-color: #3c3c3c;
    display: grid;
    justify-content: center;
}
.footer-list{
    color: white;
}
.footer-list a{
    color: white;
    text-decoration: none;
}
.logo-instagram{
    width: 15px;
    height: 15px;
}
.logo-twitter{
    width: 25px;
    height: 25px;
}
.at-home{
    background-color: black;
    color: white; 
}
.list-pack{
    list-style: none;
}
.list-pack li::before{
content: "▫️";
}
.h1-pack{
    display: flex;
justify-content: center;
color: pink;
text-decoration: underline;
}
}
@media (min-width: 768px) {
.logo-nav{
    display: grid;
    justify-content: center;
}
.navegador{
    width: 100%;
}
video{
    width: 100%;
}
.pack-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: none;
    justify-content: center;
}
.pack{
    display: flex;
    justify-content: center;
    height: 450px;
}
.titulo-pack{
    width: 100%;
}
.parrafo{
    width: 100%;
}
.footer{
    width: 100%;
}
.footer-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 100px;
}

}