.list{
    padding-top: 25px;
}
.nav__info{
    background-color: $color-quaternary;
    text-decoration: none;
    display: inline;
    color: $color-primary;
    font-size: 20px;
}
@include for-destok-up{
.list{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 70px 50px 1fr;
    column-gap: 50px;
    justify-content: flex-start;
}
}