.body-encuesta{
    background-color: $color-quaternary;
}
.h3-encuesta{
    color: $color-primary;
    display: flex;
    justify-content: center;
}
.texto-requerido{
    color: red;
    display: flex;
    justify-content: center;
}
.contenedor-label-input{
    display: grid;
    justify-content: center;
}
.label-encuestaa{
    color: $color-secondary;
}
.footer-encuestaa{
    display: grid;
    justify-content: center;
    align-content: flex-end;
}
.footer-formulario{
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
}
.footer-ig{
    width: 20px;
}
.footer-tw{
    width: 26px;
}
@include for-destok-up{
    .contenedor-label-input{
        font-size: 20px;
    }
    .h3-encuesta{
        font-size: 30px;
    }
    .texto-requerido{
        font-size: 25px;
    }
    .footer-formulario{
        font-size: 40px;
    }
    .footer-ig{
        width: 40px;
    }
    .footer-tw{
        width: 50px;
    }
}