.section-corporativos{
    background-color: black;
    color: white;
}
.div-corporativo-img{
    display: flex;
    justify-content: center;
}
.foto-corporativo{
    height: 300px;
}
.section-fiesta{
    display: flex;
    flex-direction: column-reverse;
}
.foto-fiesta{
    height: 300px;
    mask-image: linear-gradient(white 80%, transparent);
}
.div-fiesta-img{
    display: flex;
    justify-content: center;
}
.pack{
    display: flex;
    justify-content: center;
}
.div-pack{
    width: 100%;
}
.h2-pack{
    background-color: black;
    display: flex;
    justify-content: center;
    color: white;
    width: 100%;
}
.pack-times{
    display: grid;
    height: 450px;
    width: 100%;
    justify-content: center;
} 
.pack-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
    li{
        list-style: none;
    }
}
.pack-list:hover > :not(:hover){
    opacity:0.4;
}
.item-1, .item-2, .item-3, .item-4 {
    background-color: $color-primary;
    border-radius: 5%;
    display: grid;
    width: 120px;
    height: 120px;
    align-items: center;
    justify-content: center;
    color: $color-secondary;
    text-decoration: none;
    transition: opacity 0.6s ease;
    }
.pack-box{
    transition: opacity 0.6s ease;
}
.titulo-pack{
    color: pink;
    font-family: lora, sans-serif;
}
.section-encuesta{
    background-color: $color-primary;
    display: grid;
    justify-content: center;
    color: $color-secondary;
}
.div-encuesta{
    display: grid;
    justify-content: center;
    a{
        font-size: 150%;
        display: flex;
        justify-content: center;
    }
}

//modificaciones para media query 768px
@include for-destok-up{
.section-corporativos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.div-corporativo-img{
    display: flex;
    justify-content: flex-start;
}
.foto-corporativo{
height: 700px;
width: 500px;
}
.div-corporativo-parrafo{
    font-size: 20px;
}
.section-fiesta{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
}
.div-fiesta-img{
    display: flex;
    justify-content: flex-end;
}
.foto-fiesta{
    height: 700px;
    width: 500px;
}
.div-fiesta-parafo{
    display: flex;
    align-items: center;
    font-size: 20px;
}
    .pack-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: none;
    justify-content: center;
}
.item-1, .item-2, .item-3, .item-4 {
    background-color: $color-primary;
    border-radius: 5%;
    display: grid;
    width: 250px;
    height: 250px;
    align-items: center;
    justify-content: center;
    }
.pack{
    display: flex;
    justify-content: center;
    height: 450px;
}
.titulo-pack{
    width: 100%;
}
.parrafo-packs{
    font-size: 18px;
}
.parrafo{
    width: 100%;
    font-size: 18px;
}
}